<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cr.dao.ProverbDAO">
    <select id="findProverbById" resultType="Proverb">
        SELECT
        <include refid="columns"/>
        WHERE proverb_id = #{proverbId}
    </select>

    <select id="findProverbByColumn" resultType="Proverb">
        SELECT
        <include refid="columns"/>
        WHERE ${column} = #{value}
    </select>

    <select id="findAllProverbs" resultType="Proverb">
        SELECT
        <include refid="columns"/>
    </select>

    <insert id="addProverb" useGeneratedKeys="true" keyProperty="proverbId">
        INSERT INTO proverb (
          content,
          start,
          create_time
        )
        VALUES (
          #{content},
          0,
          now()
        )
    </insert>

    <update id="updateProverbByColumn">
        UPDATE proverb SET ${column} = #{value} WHERE proverb_id = #{proverbId}
    </update>

    <update id="updateProverbStar">
        UPDATE proverb SET star = star + 1 WHERE proverb_id = #{proverbId}
    </update>

    <sql id="columns">
      p.proverb_id, p.content, p.star, p.create_time, p.update_time
      FROM proverb as p
    </sql>
</mapper>